<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Secret</title>
  </head>
  <body>

  <h1>Secret</h1>

  <pre id="secret"></pre>

  <h2>Your secret has been used by:</h2>

  <pre id="used_by"></pre>

    <script>

        send_request()

       function send_request() {
           xmlhttp = new XMLHttpRequest();
           xmlhttp.onreadystatechange = function () {
               if (this.readyState == 4 && this.status == 200) {
                   data = JSON.parse(this.responseText)
                   document.getElementById("secret").innerHTML = data['secret']
                   document.getElementById("used_by").innerHTML = JSON.stringify(data['users_used'])
                   resource_timer = setTimeout(send_request, 1000);

               }
           };
           xmlhttp.open("GET", '/getsecret', true);
           xmlhttp.send();
       }
    </script>
  </body>
</html>
