<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Secret</title>
  </head>
  <body>

  <h1>Secret</h1>

  <pre id="secret"></pre>

  <h2>Your secret has been used by:</h2>

  <pre id="used_by"></pre>
  <div id="picture"></div>

    <script>

        send_request()

       function send_request() {
           xmlhttp = new XMLHttpRequest();
           xmlhttp.onreadystatechange = function () {
               if (this.readyState == 4 && this.status == 200) {
                   data = JSON.parse(this.responseText)
                   document.getElementById("secret").innerHTML = data['secret']
                   document.getElementById("used_by").innerHTML = ""
                   document.getElementById("picture").innerHTML = ""
                   for (var i =0; i<data['users_used'].length; i++){
                       var user = data['users_used'][i]
                       var name = user['displayName']
                       var picture = user['photo']
                       var img = new Image();
                       img.src = 'data:image/png;base64,'.concat(picture['data']);
                       document.getElementById("used_by").innerHTML= name;
                       document.getElementById("picture").appendChild(img)
                   }

                   resource_timer = setTimeout(send_request, 1000);

               }
           };
           xmlhttp.open("GET", '/getsecret', true);
           xmlhttp.send();
       }
    </script>
  </body>
</html>
