<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<form action="" method="post">
    <p><input type=text name=username>
    <p><input type=password name=password>
    <p><input type=submit value=Login>
</form>

<form action="" method="post">
     <button name="username" value = "guest">Login as Guest</button>
</form>

<form action="" method="post">
     <button name="username" value="fenix">Login with Fenix</button>
</form>

</body>
</html>