<!DOCTYPE html>
<html>
    <head>
        <script>
            "use strict";
            function submitForm(oFormElement)
            {
              var xhr = new XMLHttpRequest();
              xhr.onload = function(){
                  var user = JSON.parse(this.responseText)
                  if (user != "No user!") {
                      var name = user['displayName'];
                      var picture = user['photo'];
                      var img = new Image();
                      img.src = 'data:image/png;base64,'.concat(picture['data']);
                      document.getElementById("user").innerHTML = name;
                      document.body.removeChild(document.body.lastChild);
                      document.body.appendChild(img)
                  }
                  else {
                      document.getElementById("user").innerHTML = user;
                  }
              };

              xhr.open (oFormElement.method, oFormElement.action, true);
              xhr.send (new FormData (oFormElement));
              return false;
            }
        </script>
    </head>
    <body>
    <h2>Validate Secret:</h2>
        <form method="POST" action='/validate' onsubmit="return submitForm(this);">
          <input type="text" name="secret" />
          <input type="submit" value="Validate"/>
        </form>

    <h3>User:</h3>
    <pre id="user"></pre>
    </body>
</html>