<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Instascan</title>
      <script type="text/javascript" src="{{url_for('static', filename='instascan.min.js') }}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='json-to-table.js') }}"></script>
  </head>
  <body>
  <h1>QR Code </h1>
    <video id="preview"></video>

  <h1>Result</h1>

  <p id="demo"></p>

    <script>
        let scanner = new Instascan.Scanner(
            {
                video: document.getElementById('preview')
            }
        );
        scanner.addListener('scan', function(content) {
           xmlhttp = new XMLHttpRequest();
           xmlhttp.onreadystatechange = function() {
               if (this.readyState == 4 && this.status == 200) {
                   document.getElementById("demo").innerHTML = ConvertJsonToTable(JSON.parse(this.responseText));
               }
           };
           xmlhttp.open("GET", content.replace("/resources/", "/"), true);
           xmlhttp.send();
        });
        Instascan.Camera.getCameras().then(cameras =>
        {
            if(cameras.length > 0){
                scanner.start(cameras[0]);
            } else {
                console.error("Please enable Camera!");
            }
        });
    </script>
  </body>
</html>


