<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add secretariate</title>
</head>
<body>
    <h1>Add Secretariate</h1>
    <form method="post" onsubmit="return validation()">
            Secretariate Name:<input type="text" name="name" id = 'name'>
            Open hours: <input type="text" name="open" id = 'open'><br>
            Location: <input type="text" name="location" id = 'location'><br>
            Description: <input type="text" name="description" id = 'description'><br>
            <input type="submit">
        </form>
<script>
    function validation(){
        var name = document.getElementById("name").value;
        var open = document.getElementById("open").value;
        var location = document.getElementById("location").value;
        if( name ==='' || open ==='' || location ===''){
            alert("Please fill all the fields...!!!!!!");
            return false;
        }else{
            return true;
        }
    }
</script>
</body>
</html>