<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Secretariates</title>
</head>
<body>
    <form method="post" onsubmit="return validation()">
            Change Secretariate Name:<input type="text" name="name">
            Change Open hours: <input type="text" name="opening_hours"><br>
            Change Location: <input type="text" name="location"><br>
            Change Description: <input type="text" name="description"><br>
            ID of Secretariate to Change <input type="text" name="ident" id = 'ident'>
            <input type="submit" >
    </form>
<script>
    function validation(){
        var id = document.getElementById("ident").value;
        if( id ===''){
            alert("Please fill ID fields...!!!!!!");
            return false;
        }else{
            return true;
        }
    }
</script>

</body>
</html>