<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show ID form</title>
</head>
<body>
<h1>Secretariate by ID form</h1>
    <form method="post" onsubmit="return validation()">
            Secretariate ID:<input type="text" name="ident" id = 'ident'>
            <input type="submit" value="Show Secretariate">
    </form>
<script>
    function validation(){
        var id = document.getElementById("ident").value;
        if( id ===''){
            alert("Please fill ID fields...!!!!!!");
            return false;
        }else{
            return true;
        }
    }
</script>
</body>
</html>