<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secretariats</title>
</head>
<body>

<div id="Secretariate" style="display:block">
        <form action="/resources/secretariat/ident" method="get">
            <button type="submit" value="Show Secretariate">Show Secretariate</button>
        </form>
        <form action="/resources/secretariat/add" method="get">
            <button type="submit" value="Add Secretariate">Add Secretariate</button>
        </form>

        <form action="/resources/secretariat/edit" method="get">
            <button type="submit" value="Edit Secretariate">Edit Secretariate</button>
        </form>

        <form action="/resources/secretariat/delete/ident" method="get">
            <button type="submit" value="Remove Secretariate">Remove Secretariate</button>
        </form>
    <a href="/">MainPage</a>
</div>
</body>
</html>
