<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Secretariate by ID form</title>
</head>
<body>
<h1>Remove Secretariate (by ID)</h1>
    <form method="post" onsubmit="return validation() ">
            Secretariate id:<input type="text" name="id" id = 'ident'>
            <input type="submit">
    </form>
<script>
    function validation(){
        var id = document.getElementById("ident").value;
        if( id ===''){
            alert("Please fill ID fields...!!!!!!");
            return false;
        }else{
            return true;
        }
    }
</script>
</body>
</html>