<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secretariats</title>
</head>
<body>

<div id="Secretariate" style="display:block">
         <form>
            Secretariate ID:<input type="text" id="ident" placeholder="ID"  name="ident">
            <input type="button" value="SecretariateID" onClick="parent.location='http://127.0.0.1:5000/resources/secretariat/ident/'+ document.getElementById('ident').value ">
        </form>
        <form action="/admin/secretariat/add" method="get">
            <button type="submit" value="Add Secretariate">Add Secretariate</button>
        </form>

        <form action="/admin/secretariat/edit" method="get">
            <button type="submit" value="Edit Secretariate">Edit Secretariate</button>
        </form>

        <form action="/admin/secretariat/delete/ident" method="get">
            <button type="submit" value="Remove Secretariate">Remove Secretariate</button>
        </form>
    <a href="/admin">Back to Administration Page</a>
</div>
</body>
</html>
