<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ementa</title>
    <style>
        body{
            background: #ffffff; text-decoration: none;
        }
    </style>
</head>
<body>
<h1>All Books </h1>

{% for item in days_of_week %}
    <ul>
        <p style="color: #7c795d; font-family: 'Trocchi', serif; font-size: 36px; font-weight: normal; line-height: 48px; margin: 0; ">{{item}}</p>
        {% for i in range(weekly_menu[item]|length) %}
            <p style="font-size: 16px; font-weight: 300; color: #ffcc66; margin: 0 0 24px;">{{weekly_menu[item][i]['type']}}</p>
            {% for j in range(weekly_menu[item][i]['info']|length) %}
                <p style="color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 16px; margin: 0 0 8px;">{{weekly_menu[item][i]['info'][j]['menu']}}<br></p>
                <p style="color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 16px; margin: 0 0 8px;">{{weekly_menu[item][i]['info'][j]['name']}}<br></p>
            {% endfor %}
        {% endfor %}
    </ul>
{% endfor %}


<div class="MainPageButton" id="MainPageButton" style="display:none" >
    <input type="button" value="MainPage" onClick="parent.location='/'">
</div>

</body>
</html>